nav {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
}
h2 {
    color: brown;
} 
h1 {
    color: #952323;
}    
h1 {
    text-align: center;
}
p {
    font-size: 150%;
}
li {
    font-size: 150%;
}