body {
    background-color: #F4EEEE;
}
h1 {
    color:#b7c6fa 
}
span.red {
    color: red;
    font-size: 2em;
}
p {
    border-style: solid;
    border-color: blue;
    padding: 15px;
    font-family: 'Dancing Script', cursive;
}
p.tree {
    color:#9400FF; 
    border-style: none;
}
li {
    color:#D2DE32;
}
.wind {
    color: #F97B22;
}
#sky {
    font-size: 200%;
}