.buttons {
    display: flex;
    flex-direction:row;
    justify-content:center; 
    align-items: center;
    width: 350px;
    height: 450px;
    background-color: #D7CCC8;
    flex-wrap: wrap;
    padding: 30px;
    margin-left: 350px;
}
#screen {
    display: flex;
    align-self: flex-start;
    width: 350px;
    height: 100px;
    background-color: #A7D397;
    border-radius: 0%;
}

button {
    background-color: #7D7C7C;
    border-radius: 35%;
    width: 75px;
    height: 75px;
    font-size: 1.5rem;
    color:#EEEDED;   
    margin: 2px;
    
}
#clear {
    background-color: #F0DE3680;
    width: 200px;
    height: 50px;
    color:#EEEDED;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}