body {
    background: url("/code\ challenge\ 3/images/kitten.jpg");
    background-repeat: no-repeat; 
    background-position-x: center;
    }
#kitten {
    font-size: 3rem;
    
}





























